# Assignment 2
* In this assignment you will be working with three data files from iMDB:
    * cast.csv
    * release_dates.csv
    * titles.csv
* Using the appropriate file(s), answer the following questions
* Some questions can be completed with one-liners while others are a bit more involved
* Where appropriate, answers should also provide brief commentary
* Exclude data that doen't make senss, i.e. data from the future
* Once complete upload this notebook to your classwork Github repo and post the link on Canvas

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
cast = pd.read_csv("data/cast.csv")
titles = pd.read_csv("data/titles.csv")
release = pd.read_csv("data/release_dates.csv")

In [4]:
titles.head()

                      title  year
0           Ankara ekspresi  1952
1  Ans Vaterland, ans teure  1915
2               Miss Mohini  2002
3             La vera madre  1999
4              O Amerikanos  1993

### 1. Conduct a high level assessment of the three data files, i.e. how many records are there, what kind of data, etc. Summarize your findings with annotation.

In [8]:
titles.title.count()

226012

### 2. How many movies have the title North by Northwest

In [7]:
titles['title'][titles['title'] == 'North by Northwest'].count()

1

### 3. How many version of Hamlet are there, when was the first made? the last?

In [21]:
print(f"{titles[['title', 'year']][titles.title == 'Hamlet'].sort_values(by='year')}")
titles[titles.title == 'Hamlet'].sort_values(by='year').count()

         title  year
79939   Hamlet  1910
129673  Hamlet  1911
164637  Hamlet  1913
221419  Hamlet  1921
221201  Hamlet  1948
220568  Hamlet  1954
113670  Hamlet  1964
73929   Hamlet  1969
204180  Hamlet  1973
64116   Hamlet  1976
144085  Hamlet  1987
174856  Hamlet  1990
213476  Hamlet  1996
141682  Hamlet  2000
25028   Hamlet  2009
137240  Hamlet  2011
118331  Hamlet  2014
109822  Hamlet  2015
186870  Hamlet  2016
208380  Hamlet  2017

title    20
year     20
dtype: int64

### 4. List all the movies called Treasure Island from oldest to newest

### 5. How many movies were made in 1950? 1980? 2000? What conclusions can you draw from these data points?

In [14]:
print(f"Movies 1950: {titles['title'][titles.year == 1950].count()}")
print(f"Movies 1980: {titles['title'][titles.year == 1980].count()}")
print(f"Movies 2000: {titles['title'][titles.year == 2000].count()}")

Movies 1950: 1109
Movies 1980: 1750
Movies 2000: 2568

### 6. How big was the cast of Metropolis

In [17]:
cast['title'][cast['title'] == 'Metropolis'].count()

33

In [20]:
len(cast[cast['title'] == 'Metropolis'])

33

### 7. How many roles for actors were there 1950's? 1990's

### 8. How many roles for actors & actresses over time? Output should be a line graph

### 9. How many "leading roles" were there in the 2000's?

### 10. How many roles received no ranking in the 2000's? 1950's. What conclusions can you draw from these two data points?

### 11. Plot the number of films made in each decade

### 12. Plot the number of films with a Rustler character over time

### 13. What are the top ten character names of all time?

### 14. Which actor appeared in the most films in the 1990's decade?

### 15. What are the top 10 roles that start with Science?

### 16. What film has the largest cast

### 17. Generate descriptive statistics for cast size. Briefly comment on the results

### 18. How many films has Natalie Portman been in in each year throughout her career?

### 19. How many films did Natalie Portman appear in each year where where she was either the top star or co-star?

### 20. Determine how many roles for actor or actress by decade. Plot the output

### 21. Determine and comment on the day of the week that movies are released. What is notable about release days and months throughout the year? (Use pd.pivot_table)

### 22. Can you plot the pivot table? Is the output "correct"? Can you fix it?

### 23. What films did actors in Star Wars go on to appear in?