In [1]:
import pandas as pd

In [70]:
names = pd.read_csv('names.csv')

In [71]:
names = names['Student']

In [72]:
names = names.iloc[2:16]

In [73]:
names

2                    Alderete Romo, Karen
3     Amaral Fernandes Maldonado, Manuela
4                           Dallvo, Genti
5                      DePerro, Christina
6                          Fichtner, Alex
7                            Gage, Parker
8                    Gomez Lenero, Andres
9                      Gunasekaran, Divya
10                           Kumar, Mehek
11                        O'Reilly, Moira
12                          Rock, Matthew
13                         Santos, Tanner
14                              Tam, Luke
15                            Wolff, Kyle
Name: Student, dtype: object

In [75]:
away = names[(names =='Santos, Tanner') | (names =='Wolff, Kyle')]

In [76]:
names = names[(names != 'Wolff, Kyle')]

In [77]:
names = names[(names !='Santos, Tanner')]

In [78]:
names

2                    Alderete Romo, Karen
3     Amaral Fernandes Maldonado, Manuela
4                           Dallvo, Genti
5                      DePerro, Christina
6                          Fichtner, Alex
7                            Gage, Parker
8                    Gomez Lenero, Andres
9                      Gunasekaran, Divya
10                           Kumar, Mehek
11                        O'Reilly, Moira
12                          Rock, Matthew
14                              Tam, Luke
Name: Student, dtype: object

In [83]:
names = names.sample(12)
names

11                        O'Reilly, Moira
10                           Kumar, Mehek
6                          Fichtner, Alex
8                    Gomez Lenero, Andres
3     Amaral Fernandes Maldonado, Manuela
12                          Rock, Matthew
2                    Alderete Romo, Karen
14                              Tam, Luke
5                      DePerro, Christina
7                            Gage, Parker
9                      Gunasekaran, Divya
4                           Dallvo, Genti
Name: Student, dtype: object

In [85]:
with pd.ExcelWriter('midterm.xlsx') as output:
    names.to_excel(output, sheet_name = 'order')
    away.to_excel(output, sheet_name = 'away')